<!--
  Generated template for the PresentationBrevePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-row>
      <ion-col col-2>
  
      </ion-col>
      <ion-col>
        <ion-title>Présentation</ion-title>
      </ion-col>
      <ion-col col-2>
        <ion-buttons end>
          <button ion-button icon-only (click)="onClickParametre()">
            <ion-icon name="settings"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
</ion-header>


<ion-content padding>
  
  <img class="imageCard"   src={{recette.image}}/>

  <h1>
    {{recette.nom}}
    <ion-icon *ngIf="fav == false" name="star-outline" (click)="addFav()"></ion-icon>
    <ion-icon *ngIf="fav == true" style="color: #F59821" name="star" (click)="addFav()"></ion-icon>
  </h1>

  {{recette.presentation}}
  

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-label>
              <h3>
                  <ion-icon large name="ios-list"></ion-icon> 
                  Préparation
             </h3>
             </ion-label>
        <ion-grid>
          <ion-row>
            Difficulté :
            </ion-row>
            <ion-row>
            <div class="couleur" *ngIf="recette.difficulte == '1' ">
                <ion-icon  name="star" color ></ion-icon> 
            </div>
            <div class="couleur" *ngIf="recette.difficulte == '2'">
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
            </div>
            <div class="couleur" *ngIf="recette.difficulte == '3'"> 
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
            </div>
            <div class="couleur" *ngIf="recette.difficulte == '4'">
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
            </div>
            <div class="couleur" *ngIf="recette.difficulte == '5'">
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
                <ion-icon  name="star" ></ion-icon> 
            </div>
          </ion-row>
          <ion-row >
              Nombre de personne :
              <div>
                {{recette.nbPers}} * <ion-icon  name="md-restaurant" ></ion-icon>
              </div>
              
            
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-label>
         <h3> 
            <ion-icon large name="ios-timer-outline"></ion-icon>
           Durée
        </h3>
        </ion-label>
          <ion-grid>
            <ion-row>
                Préparation : {{recette.duree}} min
            </ion-row>
             Cuisson : {{recette.tpCuisson}} min
            <ion-row>
            </ion-row>
             Temps total : {{tempsTot}} min
          </ion-grid>
        
      </ion-col>
    </ion-row>
    
  </ion-grid>

  


  <ion-footer>
    <ion-grid>
      
      <ion-row>
        <ion-col col-6> <!-- bouton pour acceder à l'edition de la recette -->
            <button ion-button round block clear icon-start round   (click)="Editer()">
                <ion-icon name="md-create"></ion-icon>
                Éditer 
            </button>
        </ion-col>

        <ion-col col-6> <!-- boutton pour acceder à la recette complete-->
            <button ion-button block round clear icon-start round   (click)="Voir()">
                <ion-icon name="book"></ion-icon>
                Détails
            </button>
        </ion-col>
      </ion-row>
      <ion-row>
          
          <button class="lancer" ion-button round (click)="Commencer()" ><ion-icon name="md-arrow-dropright-circle"></ion-icon>  Commencer la préparation</button>
           
      </ion-row>
    </ion-grid>
  </ion-footer>

  <!--FAB pour lancer la recette-->
  
    
</ion-content>


