page-presentation-breve {
    .lancer
    {
        margin-left: auto;
        margin-right: auto;
    }

    .button-md
    {
        font-size:9pt;
    }

    .titra
    {
        font-size: 14pt;
        color:#F59821;
    }

    .toolbar-title-md {
        font-size: 20pt;
    }

    .titre{
        word-wrap:break-word;
        font-weight: bold;
        color:#F59821;
        white-space: normal;
    }

    .centrer{
        text-align: center;
    }
}
