page-presentation-breve {
    .lancer
    {
        margin-left: auto;
        margin-right: auto;
    }

    .couleur{
        color: #F59821;
    }
    .imageCard{
        
        
        
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
        padding:3px;

    }

    ion-header
    {
        background-color: #39393B;
        text-align: center;
    
    }
}
