page-credit {
    ion-header
    {
        background-color: #39393B;
        text-align: center;
    
    }
    
    h1{
        text-align: center;
    }

    div{
        text-align: center;
    }
}
