page-home{
    ion-header
    {
        background-color: #39393B;
        text-align: center;
    
    }

    ion-card{
        display:inline;
    }

    .textCard{
        margin-bottom:4px;
        margin-top: 4px;
        
        text-align: center;
        
        border-width: 2px;
        border-color: black;
        border-style:solid;
        background-color: white;
        color: black;
        padding: 3px 5px;
        
    }

    .imageCard{
        border-width: 3px;
        border-color: black;
        border-style:solid;
        background-color: white;

        padding:3px;

    }

    .card-md{
        background: none;
        -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
    }

}
