<ion-header>
  <ion-row class="centrage">
    <ion-col col-2>

    </ion-col>
    <ion-col class="title">
      <ion-title>Discook</ion-title>
    </ion-col>
    <ion-col col-2>
      <ion-buttons end>
        <button ion-button icon-only (click)="onClickParametre()">
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons>
    </ion-col>

  </ion-row>



  <ion-searchbar [(ngModel)]="myInput" (keyup.enter)="onSearch($event)">
  </ion-searchbar>







</ion-header>

<ion-content>
 
<!--
    <ion-col>
      <ion-card (tap)="onClickRecette()">
        <ion-row class="imageCard">
          <img src="assets/imgs/placeholder.jpg">
        </ion-row>
        <ion-row class="textCard">
          Titre
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card (tap)="onClickRecette()">
        <ion-row>
          <img src="assets/imgs/placeholder.jpg">
        </ion-row>
        <ion-row>
          Titre
        </ion-row>
      </ion-card>
    </ion-col>
-->

    <div *ngFor="let item of listRecette; let i = index; let even = even;">
      <span *ngIf="even">       
        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-card (tap)="onClickRecette(listRecette[i])">
                    <ion-row class="imageCard">
                      <img src="assets/imgs/placeholder.jpg">
                    </ion-row>
                    <ion-row class="textCard">
                        {{ listRecette[i].nom }}
                    </ion-row>
                  </ion-card>
              
            </ion-col>
            <ion-col>
                <ion-card (tap)="onClickRecette(listRecette[i+1])">
                    <ion-row class="imageCard">
                      <img src="assets/imgs/placeholder.jpg">
                    </ion-row>
                    <ion-row class="textCard">
                        {{ listRecette[i+1].nom }}
                    </ion-row>
                  </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        </span>
    </div>



  <ion-fab right bottom>
    <button (tap)="onClickAjoutRecette()" ion-fab>
      <ion-icon>+</ion-icon>
    </button>
  </ion-fab>
</ion-content>