page-liste-ingredient {
    .go
    {
        margin-left: auto;
        margin-right: auto;
    }

    .imageCard{
        
       
        background-color: white;
       
        padding:3px;

    }
}
