page-liste-all-ingredients-bdd {

    .ingredient
    {
        position:absolute;
        top:40%;
        font-size: 1.5em;
  
    }

    .isSelected
    {
        background-color: rgb(185, 181, 181);
    }
}
