page-ajout-recette {

    ion-content
    {
        text-align: center;
    }
    .Etape
    {
        text-align: left;
    }
    .titra
    {
        font-size: 1.5em;
    }

    .ingredient
    {
        position:absolute;
        top:40%;
        font-size: 1.5em;
  
    }
    .selectedStar{
        color:  #F59821;
    }
    .notselectedStar{
        color: #39393B;
    }

    .centrer
    {
        margin-left: auto;
        margin-right: auto;
    }

    ion-icon {
        display: inline-block;
        font-size: 1.0em;
    }

    .coloration
    {
        color:#999;
        font-size: inherit;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
