page-ajout-recette {

    ion-content
    {
        text-align: center;
    }
    .Etape
    {
        text-align: left;
    }
    .titra
    {
        font-size: 1.5em;
    }

    .ingredient
    {
        position:absolute;
        top:40%;
        font-size: 1.5em;
  
    }
}
