<!--
  Generated template for the PresentationCompletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Présentation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list-header>{{recette.nom}}}</ion-list-header>
  <br>
  <label *ngFor="let etape of recette.etapes">
    {{etape.numero}} {{etape.texte}}
    <br>
    <label *ngFor="let anotation of etape.anotation">
      {{anotation.etape}}
    </label>
  </label>

  <ion-row class="centre">
    <ion-col>
       
        <button ion-button round block clear icon-start round (click)="versAnnotation()">
            <ion-icon name="chatbubbles"></ion-icon>
            Annoter
        </button>
          </ion-col>  
          <ion-col>
              <button ion-button round block clear icon-start round (click)="versEdition()">
                  <ion-icon name="md-create"></ion-icon>
                  Éditer
              </button>
     
    </ion-col>
  </ion-row>
 
 
</ion-content>