<!--
  Generated template for the PresentationCompletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Présentation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>{{recette.nom}}</h5>

  <ion-grid>
    <div *ngFor="let etape of recette.etapes">
      <ion-row>
        <ion-col col-1>
          {{etape.numero}}.
        </ion-col>
        <ion-col>
          {{etape.texte}}
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <div *ngFor="let etape of recette.etapes">
    <ion-list>
      <ion-item *ngFor="let annotation of etape.annotations">
          {{anotation.com}}
      </ion-item>
    </ion-list>
  </div>

  <ion-row class="centre">
    <ion-col>
      <button ion-button round block clear icon-start round (click)="versAnnotation()">
        <ion-icon name="chatbubbles"></ion-icon>
        Annoter
      </button>
    </ion-col>  
    <ion-col>
      <button ion-button round block clear icon-start round (click)="versEdition()">
        <ion-icon name="md-create"></ion-icon>
        Éditer
      </button>
    </ion-col>
  </ion-row>
</ion-content>